[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib
[submodule "external/raygui"]
	path = external/raygui
	url = https://github.com/raysan5/raygui
[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml
[submodule "external/RectangleBinPack"]
	path = external/RectangleBinPack
	url = https://github.com/juj/RectangleBinPack
[submodule "external/eventpp"]
	path = external/eventpp
	url = https://github.com/wqking/eventpp
